@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="CategoryId"/>
    <div class="form-group">
        <label>KATEGORİ ADI</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
    </div>
    <button class="btn btn-outline-dark">KAYDET</button>
</form>



